@namespace H.LowCode.Themes.AntBlazor
@inherits LowCodeComponentBase

<div class="renderengine-componentcontainer" style="@ContainerComponent.Style.DefaultStyle">
    @foreach (var comp in ContainerComponent.Childrens)
    {
        <div style="min-height: @(comp.Style.ItemHeight)px;
                width: @((comp.Style.ItemWidth ?? 24)  /24 * 100)%;
                @comp.Style.DefaultStyle @comp.Style.CustomStyle">
            <ComponentRender Component="@comp"></ComponentRender>
        </div>
    }
</div>

@code {
    [Parameter]
    public ComponentSchema ContainerComponent { get; set; }

    protected override async Task OnInitializedAsync()
    {

        await base.OnInitializedAsync();
    }
}