@*
 节点说明：
  1、根节点只有1个，即 StartNode
  2、每个节点的下级节点有两类：普通节点（ChildNodes）和条件节点（ConditionNodes）
  3、只有分支节点（BranchNode）才有条件节点，其他节点的下级节点均只有普通节点
*@

<div>
    <div class="node-wrap">
        @if (Node.NodeType == NodeTypeEnum.Start)
        {
            <StartNode Node="@Node"></StartNode>
        }
        else if (Node.NodeType == NodeTypeEnum.Approve)
        {
            <ApproveNode Node="@Node"></ApproveNode>
        }
        else if (Node.NodeType == NodeTypeEnum.CarbonCopy)
        {
            <CarbonCopyNode Node="@Node"></CarbonCopyNode>
        }
        else if (Node.NodeType == NodeTypeEnum.Condition)
        {
            <ConditionNode Node="@Node"></ConditionNode>
        }
        else if (Node.NodeType == NodeTypeEnum.Branch)
        {
            <div class="branch-wrap">
                <BranchNode Node="@Node"></BranchNode>
            </div>
            
            @*遍历普通子节点*@
            @foreach(var childNode in Node.ChildNodes)
            {
                <NodeWrap Node="@childNode"></NodeWrap>
            }
        }
    </div>
</div>

@code {
    [Parameter]
    public NodeModelBase Node { get; set; }

    private void ShowSettingPanel()
    {
        
    }

}