@using System.Reflection

<Router AppAssembly="@DefaultLayout.Assembly" AdditionalAssemblies="@Assemblies">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@DefaultLayout" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView Layout="@DefaultLayout">
            <p>404：Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code
{
    private Assembly[] Assemblies = new Assembly[]
    {
        typeof(H.LowCode.DesignEngine._Imports).Assembly,
        typeof(H.LowCode.RenderEngine.AntBlazor._Imports).Assembly
        //typeof(H.LowCode.RenderEngine.Html._Imports).Assembly
    };

    private Type DefaultLayout = typeof(H.LowCode.Sample.Admin.Layout.MainLayout);
}