@using System.Reflection
@using H.LowCode.Sample.Admin.Layout

<Router AppAssembly="@typeof(MainLayout).Assembly" AdditionalAssemblies="@Assemblies">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@DefaultLayout" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView Layout="@DefaultLayout">
            <p>404：Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code
{
    private Assembly[] Assemblies = new Assembly[]
    {
        typeof(DesignEngine.Layout.DesignEngineLayout).Assembly
    };

    private Type DefaultLayout = typeof(MainLayout);
}