@using System.Reflection
@using H.LowCode

<Router AppAssembly="@DefaultLayout.Assembly" AdditionalAssemblies="@Assemblies">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@DefaultLayout" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView Layout="@DefaultLayout">
            <p>404：Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code{
    private Assembly[] Assemblies = LowCodeGlobalVariables.AdditionalAssemblies;

    private Type DefaultLayout = LowCodeGlobalVariables.LowCodeDefaultLayout;
}