@inject DragDropStateService DragDropStateService

<div class="dropitem-box @DropItemBoxClassMapper.Class" style="float:left; opacity:@Component.Opacity; @Style
    width: @(Component.ComponentPropertySchema.ItemWidth/24*100)%;
    min-height: @(Component.ComponentPropertySchema.ItemHeight)px;
    @Component.ComponentPropertySchema.CustomStyle"
     @onclick="OnClick" @onclick:stopPropagation
     @ondragstart="OnDragStart" @ondragstart:stopPropagation
     @ondragenter="OnDragEnter" @ondragenter:stopPropagation
     @ondragover="OnDragOver" @ondragover:preventDefault @ondragover:stopPropagation
     @ondragleave="OnDragLeave" @ondragleave:stopPropagation
     @onmouseover="OnMouseOver" @onmouseover:stopPropagation
     @onmouseout="OnMouseOut" @onmouseout:stopPropagation>

    <div class="dropitem @DropItemClassMapper.Class" style="@Component.ComponentPropertySchema.Style @_tempEffectStyle">
        @if (Component.IsSelected)
        {
            <div draggable="true" class="dropitem-icon-move">
                <Icon Type="drag" Theme="outline" />
            </div>
            <div class="dropitem-pointer-wrapper">
                <div class="dropitem-pointer" @onclick="OnDelete">
                    <Icon Type="delete" Theme="outline" />
                </div>
                <div class="dropitem-pointer" @onclick="OnCopy">
                    <Icon Type="copy" Theme="outline" />
                </div>
            </div>
        }
        @if (Component.IsHiddenTitle == false)
        {
            <div class="dropitem-title">@Component.ComponentPropertySchema.Title ：</div>
        }

        @if (Component.ComponentCategory == ComponentCategory.Basic)
        {
            <div class="dropitem-div-component">@Component.RenderFragment(Component)</div>
        }
        else
        {
            <div class="dropitem-div-container">@Component.RenderFragment(Component)</div>
        }
    </div>
</div>

@code {
    [Parameter]
    public ComponentSchema Component { get; set; }

    [Parameter]
    public Action<ComponentSchema> OnItemClick { get; set; }

    [Parameter]
    public Action<ComponentSchema> OnItemDelete { get; set; }

    [Parameter]
    public Action<ComponentSchema> OnItemCopy { get; set; }

    [Parameter]
    public string Style { get; set; }

    protected ClassMapper DropItemBoxClassMapper { get; } = new ClassMapper();
    protected ClassMapper DropItemClassMapper { get; } = new ClassMapper();

    /// <summary>
    /// 过程中的临时拖拽效果样式
    /// </summary>
    private string _tempEffectStyle { get; set; }

    #region Init
    protected override void OnInitialized()
    {
        Init();
        SetClassMap();

        base.OnInitialized();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
            RegisterEventDispatcher();
    }

    private void Init()
    {
        if (Component == null)
            throw new NullReferenceException(nameof(Component));

        if (Component.RenderFragment == null)
            throw new NullReferenceException(nameof(Component.RenderFragment));

        Component.ComponentPropertySchema.Name = $"{Component.ComponentType}_{Random.Shared.Next(100, 999)}";
    }

    private void SetClassMap()
    {
        DropItemClassMapper.Clear()
            .If("dropitem-selected", () => Component.IsSelected)
            .If("dropitem-component", () => Component.ComponentCategory == ComponentCategory.Basic)
            .If("dropitem-container", () => Component.ComponentCategory != ComponentCategory.Basic);

        DropItemBoxClassMapper.Clear()
            .If("dropitem-box-layout", () => Component.ComponentCategory != ComponentCategory.Basic);
    }

    private void RegisterEventDispatcher()
    {
        //订阅设计面板中的组件点击事件
        BlazorEventDispatcher.RegisterEvent("designengine.dropitem.onclick", (value) =>
        {
            //取消选中项
            if (DragDropStateService.LastSelectedComponent != Component)
            {
                Component.IsSelected = false;
                StateHasChanged();
            }
        });

        //订阅属性面板中的事件
        BlazorEventDispatcher.RegisterEvent("designengine.propertysetting.onchange", (value) =>
        {
            StateHasChanged();
        });
    }
    #endregion

    #region Event
    private void OnClick()
    {
        _tempEffectStyle = string.Empty;

        OnItemClick.Invoke(Component);
        BlazorEventDispatcher.Trigger("designengine.dropitem.onclick", Component);
    }

    private void OnDragStart(DragEventArgs dragEventArgs)
    {
        //Component.Opacity = 0.2;

        //记录当前选中对象
        DragDropStateService.CurrentDragComponent = Component;
    }

    private void OnDragEnter(DragEventArgs dragEventArgs)
    {
        DragDropStateService.LastDragOverComponent = Component;
    }

    private void OnDragOver(DragEventArgs dragEventArgs)
    {
        if (ReferenceEquals(DragDropStateService.CurrentDragComponent, Component))
            return;

        if (DateTime.Now < DragDropStateService.LastDragOverTime.AddMilliseconds(100))
            return;

        //设置移动位置样式，拖拽到目标元素上半部分时，上方添加虚线边框，下半部分时下方添加虚线边框
        if (dragEventArgs.OffsetY < 30)
        {
            Console.WriteLine($"OnDragOver: top");
            _tempEffectStyle = "border-top: 2px dashed #1890ff;";
            Component.IsDropAfter = false;
        }
        else
        {
            Console.WriteLine($"OnDragOver: bottom");
            _tempEffectStyle = "border-bottom: 2px dashed #1890ff; height: auto;";
            Component.IsDropAfter = true;
        }
        DragDropStateService.LastDragOverTime = DateTime.Now;
    }

    private void OnDragLeave()
    {
        //如果当前被拖拽的组件和拖拽到上面的组件是同一个，直接返回
        if (ReferenceEquals(DragDropStateService.CurrentDragComponent, Component))
            return;

        Console.WriteLine("OnDragLeave");
        _tempEffectStyle = string.Empty;
    }

    private void OnMouseOver()
    {
        if (Component.IsSelected == false)
        {
            _tempEffectStyle = "outline: #1890ff dashed 1.5px;";
        }
    }

    private void OnMouseOut()
    {
        if (Component.IsSelected == false)
        {
            _tempEffectStyle = string.Empty;
        }
    }

    private void OnDelete()
    {
        OnItemDelete.Invoke(Component);
    }

    private void OnCopy()
    {
        OnItemCopy.Invoke(Component);
    }
    #endregion
}