@page "/myapp/pagemanager/{AppId}"

@layout MyAppLayout
@using AntDesign.TableModels
@using System.ComponentModel

<h1>页面管理</h1>

<Table @ref="table" TItem="PageListModel" DataSource="@pageListModels" Total="_total" OnChange="OnChange"
       @bind-PageIndex="_pageIndex" @bind-PageSize="_pageSize" @bind-SelectedRows="selectedRows">
    <Selection Key="@(context.PageCode)" />
    <Column @bind-Field="@context.PageCode" Sortable />
    <Column @bind-Field="@context.PageName" Format="yyyy-MM-dd" Sortable />
    <Column @bind-Field="@context.PageUrl" Sortable />
    <ActionColumn Title="Acton">
         <Space Size=@("middle")>
             <SpaceItem>
                 <a href="@context.PageUrl" target="_blank">Design</a>
             </SpaceItem>
            <SpaceItem>
                <a onclick="()=>Delete(@context.PageCode)">Delete</a>
            </SpaceItem>
        </Space>
    </ActionColumn>
</Table>

<br />
<p>PageIndex: @_pageIndex | PageSize: @_pageSize | Total: @_total</p>

<br />
<h5>selections:</h5>
@if (selectedRows != null && selectedRows.Any())
{
    <Button Danger Size="small" OnClick="@(e => { selectedRows = null; })">Clear</Button>

    @foreach (var selected in selectedRows)
    {
        <Tag @key="selected.PageCode" Closable OnClose="e=>RemoveSelection(selected.PageCode)">@selected.PageCode - @selected.PageName</Tag>
    }
}

<Button OnClick="()=> { _pageIndex--; }">Previous page</Button>
<Button OnClick="()=> { _pageIndex++; }">Next Page</Button>

@code {
    [Parameter]
    public string AppId { get; set; }

    PageListModel[] pageListModels;

    IEnumerable<PageListModel> selectedRows;
    ITable table;

    int _pageIndex = 1;
    int _pageSize = 10;
    int _total = 0;

    protected override async Task OnInitializedAsync()
    {
        pageListModels = await GetPageListAsync(1, 50);
        _total = 50;
    }

    public class PageListModel
    {
        [DisplayName("页面编码")]
        public string PageCode{ get; set; }

        [DisplayName("页面名称")]
        public string PageName { get; set; }

        [DisplayName("页面地址")]
        public string PageUrl { get; set; }
    }
    
    public async Task OnChange(QueryModel<PageListModel> queryModel)
    {
        await Task.Delay(100);
        Console.WriteLine(JsonSerializer.Serialize(queryModel));
    }

    public Task<PageListModel[]> GetPageListAsync(int pageIndex, int pageSize)
    {
        var rng = new Random();
        return Task.FromResult(Enumerable.Range((pageIndex - 1) * pageSize + 1, pageSize).Select(index =>
        {
            var temperatureC = rng.Next(-20, 55);
            return new PageListModel
            {
                PageCode = index.ToString(),
                PageName = $"page{index}",
                PageUrl = $"designer/{AppId}/PageId"
            };
        }).ToArray());
    }

    public void RemoveSelection(string pageCode)
    {
        var selected = selectedRows.Where(x => x.PageCode != pageCode);
        selectedRows = selected;
    }

    private void Delete(string pageCode)
    {
        pageListModels = pageListModels.Where(x => x.PageCode != pageCode).ToArray();
        _total = pageListModels.Length;
    }
}