@page "/"
@page "/workbench"
@namespace H.LowCode.Workbench
@inherits LowCodePageComponentBase

<PageTitle>工作台 - H.LowCode</PageTitle>

<style>
    .grid-space {
        margin: 10px;
        padding: 15px;
        background-color: #fff;
        border-radius: 5px;
    }
    .card-space {
        float: left;
        width: 31%;
        margin: 5px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>

<div style="width:80%; margin:auto;">
    <GridRow>
        <GridCol Span="18">
            <GridRow Class="grid-space">
                <GridCol Span="24">
                    <Card Bordered="true" Style="">
                        <a href="javascript:void(0)" onclick="@(()=>{ })"></a>
                    </Card>
                </GridCol>
            </GridRow>
            <GridRow Class="grid-space">
                <GridCol Span="24">
                    <Card Bordered="true" Class="card-space">
                        <a href="javascript:void(0)" onclick="@(()=>{ })"></a>
                    </Card>
                    <Card Bordered="true" Class="card-space">
                        <a href="javascript:void(0)" onclick="@(()=>{ })"></a>
                    </Card>
                    <Card Bordered="true" Class="card-space">
                        <a href="javascript:void(0)" onclick="@(()=>{ })"></a>
                    </Card>
                    <Card Bordered="true" Class="card-space">
                        <a href="javascript:void(0)" onclick="@(()=>{ })"></a>
                    </Card>
                    <Card Bordered="true" Class="card-space">
                        <a href="javascript:void(0)" onclick="@(()=>{ })"></a>
                    </Card>
                    <Card Bordered="true" Class="card-space">
                        <a href="javascript:void(0)" onclick="@(()=>{ })"></a>
                    </Card>
                </GridCol>
            </GridRow>
        </GridCol>
        <GridCol Span="6">
            <GridRow Class="grid-space">
                <GridCol Span="24">
                    <p>页面设计示例 (快捷入口)：</p>
                    <p>
                        <a href="/designer/testapp/_empty" target="_blank">页面设计器 (新增)</a>
                    </p>
                    <p>
                        <a href="designer/caseapp/g0qcqxzd" target="_blank">页面设计器 (基础列表)</a>
                    </p>
                    <p>
                        <a href="designer/caseapp/fhumgxyk" target="_blank">页面设计器 (基础表单)</a>
                    </p>
                </GridCol>
            </GridRow>
            <GridRow Class="grid-space">
                <GridCol Span="24">
                    <p>页面渲染示例 (快捷入口)：</p>
                    <p>
                        <a href="https://localhost:5191/caseapp/g0qcqxzd" target="_blank">页面渲染 (基础列表)</a>
                    </p>
                    <p>
                        <a href="https://localhost:5191/caseapp/fhumgxyk" target="_blank">页面渲染 (基础表单-新增)</a>
                    </p>
                    <p>
                        <a href="https://localhost:5191/caseapp/fhumgxyk?id=123" target="_blank">页面渲染 (基础表单-修改)</a>
                    </p>
                </GridCol>
            </GridRow>
            <GridRow Class="grid-space">
                <GridCol Span="24">
                    <p>物料设计示例 (快捷入口)：</p>
                    <p>
                        <a href="/designer/componentparts/newparts" target="_blank">组件物料设计器（新增）</a>
                    </p>
                    <p>
                        <a href="/designer/pageparts/newparts" target="_blank">页面物料设计器（新增）</a>
                    </p>
                </GridCol>
            </GridRow>
        </GridCol>
    </GridRow>
</div>

@code {

}