@page "/"
@namespace H.LowCode.Workbench

<style>
    .grid-space {
        margin: 10px;
        padding: 15px;
        background-color: #fff;
        border-radius: 5px;
    }
    .card-space {
        float: left;
        width: 31%;
        margin: 5px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>

<div style="width:80%; margin:auto;">
    <GridRow>
        <GridCol Span="18">
            <GridRow Class="grid-space">
                <GridCol Span="24">
                    <Card Bordered="true" Style="">
                        <a href="javascript:void(0)" onclick="@(()=>{ })"></a>
                    </Card>
                </GridCol>
            </GridRow>
            <GridRow Class="grid-space">
                <GridCol Span="24">
                    <Card Bordered="true" Class="card-space">
                        <a href="javascript:void(0)" onclick="@(()=>{ })"></a>
                    </Card>
                    <Card Bordered="true" Class="card-space">
                        <a href="javascript:void(0)" onclick="@(()=>{ })"></a>
                    </Card>
                    <Card Bordered="true" Class="card-space">
                        <a href="javascript:void(0)" onclick="@(()=>{ })"></a>
                    </Card>
                    <Card Bordered="true" Class="card-space">
                        <a href="javascript:void(0)" onclick="@(()=>{ })"></a>
                    </Card>
                    <Card Bordered="true" Class="card-space">
                        <a href="javascript:void(0)" onclick="@(()=>{ })"></a>
                    </Card>
                    <Card Bordered="true" Class="card-space">
                        <a href="javascript:void(0)" onclick="@(()=>{ })"></a>
                    </Card>
                </GridCol>
            </GridRow>
        </GridCol>
        <GridCol Span="6">
            <GridRow Class="grid-space">
                <GridCol Span="24">
                    <p>页面设计示例 (快捷入口)：</p>
                    <p>
                        <a href="/designer/testapp/newpage" target="_blank">页面设计器 (新增自定义)</a>
                    </p>
                    <p>
                        <a href="/designer/testapp/newpage?pt=1" target="_blank">页面设计器 (新增表单)</a>
                    </p>
                    <p>
                        <a href="/designer/testapp/newpage?pt=2" target="_blank">页面设计器 (新增列表)</a>
                    </p>
                    <p>
                        <a href="/designer/testapp/88888888-8888-8888-8888-888888888888" target="_blank">页面设计器 (已有元数据)</a>
                    </p>
                </GridCol>
            </GridRow>
            <GridRow Class="grid-space">
                <GridCol Span="24">
                    <p>页面渲染示例 (快捷入口)：</p>
                    <p>
                        <a href="/testapp/index" target="_blank">页面渲染示例</a>
                    </p>
                </GridCol>
            </GridRow>
            <GridRow Class="grid-space">
                <GridCol Span="24">
                    <Card Bordered="true" Class="card-space" Style="width:100%;">
                        <a href="javascript:void(0)" onclick="@(()=>{ })"></a>
                    </Card>
                </GridCol>
            </GridRow>
        </GridCol>
    </GridRow>
</div>

@code {

}