@namespace H.LowCode.DesignEngine

<div style="display: flex; justify-content: space-between;">
    <div>
        表格列
    </div>
    <div style="text-align: center; width:22px;">
        <a onclick="@(() => CreateColumn())" style="border: solid #c4c4c4 1px; line-height: 18px;height: 22px;display: block;background-color: #fafafa; color:#2c2c2c">+</a>
    </div>
</div>

<hr color="#f6f6f6" />
@foreach (var column in _columns)
{
    <div>
        <span draggable="true" style="cursor: move; display: inline-block; width: 10px; margin: 0 auto; writing-mode: vertical-lr;">...</span>
        <span style="display:inline-block; width:140px;">@column.Title</span>
        <Icon Type="edit" OnClick="@(() => EditColumn(column.Id))" Theme="outline" Style="cursor: pointer;" />
        <Icon Type="delete" OnClick="@(() => DeleteColumn(column.Id))" Theme="outline" Style="cursor: pointer;" />
    </div>
}
<hr color="#f6f6f6" />

<Modal Title="表格列" @bind-Visible="@_visible" OnOk="OnConfirm">
    <Form Model="@_tableColumnSchema" OnFinish="OnFinish" @ref="_form"
          ValidateMode="@FormValidateMode.Complex" ValidateOnChange="true" LabelColSpan="8" WrapperColSpan="16">
        <FormItem Label="字段标识" Rules=@(new FormValidationRule[]{ new FormValidationRule{ Required = true } })>
            <Input @bind-Value="@context.Name" />
        </FormItem>
        <FormItem Label="字段名称" Rules=@(new FormValidationRule[]{ new FormValidationRule{ Required = true } })>
            <Input @bind-Value="@context.Title" />
        </FormItem>
        <FormItem Label="是否主键">
            <RadioGroup TValue="bool" DefaultValue="false" @bind-Value="@context.IsPrimaryKey">
                <Radio Value="false">否</Radio>
                <Radio Value="true">是</Radio>
            </RadioGroup>
        </FormItem>
        <FormItem Label="是否支持过滤">
            <RadioGroup TValue="bool" DefaultValue="false" @bind-Value="@context.Filterable">
                <Radio Value="false">否</Radio>
                <Radio Value="true">是</Radio>
            </RadioGroup>
        </FormItem>
        <FormItem Label="是否支持排序">
            <RadioGroup TValue="bool" DefaultValue="false" @bind-Value="@context.Sortable">
                <Radio Value="false">否</Radio>
                <Radio Value="true">是</Radio>
            </RadioGroup>
        </FormItem>
        <FormItem Label="排序">
            <AntDesign.InputNumber @bind-Value="@context.Order" Min="0" DefaultValue="0"></AntDesign.InputNumber>
        </FormItem>
    </Form>
</Modal>

@code {
    [Parameter]
    public ComponentSchema Component { get; set; }

    [Parameter]
    public Action<string> OnTableColumnChange { get; set; }

    private List<TableColumnSchema> _columns = [];

    private bool _visible;
    private Form<TableColumnSchema> _form;
    private bool _isCreate;
    private TableColumnSchema _tableColumnSchema = new TableColumnSchema();

    protected override void OnInitialized()
    {
        if (Component.ComponentProperty?.TableColumns.IsNullOrEmpty() == false)
        {
            _columns = JsonSerializer.Deserialize<List<TableColumnSchema>>(Component.ComponentProperty.TableColumns);
        }

        base.OnInitialized();
    }

    private void CreateColumn()
    {
        _isCreate = true;
        _visible = true;
        _tableColumnSchema = new();
        _tableColumnSchema.Id = Guid.NewGuid().ToString();

        StateHasChanged();
    }

    private void EditColumn(string id)
    {
        _isCreate = false;
        _visible = true;
        _tableColumnSchema = _columns.First(t => t.Id == id);

        StateHasChanged();
    }

    private void DeleteColumn(string id)
    {
        var column = _columns.First(t => t.Id == id);
        _columns.Remove(column);

        OnPropertyChanged();
    }

    private void OnConfirm(MouseEventArgs e)
    {
        var validate = _form.Validate();
        if (validate)
        {
            var result = SaveTableColumnSchema();
            if (result)
            {
                _visible = false;
                _form.Submit();
                _form.Reset();
            }
            else
            {
                _visible = true;
            }
        }
        else
        {
            _visible = true;
        }
    }

    private void OnFinish()
    {
        OnPropertyChanged();
    }

    private void OnPropertyChanged()
    {
        Component.ComponentProperty.TableColumns = _columns.ToJson();

        //OnTableColumnChange?.Invoke(Component.ComponentProperty.TableColumns);
    }

    private bool SaveTableColumnSchema()
    {
        if (_isCreate)
        {
            TableColumnSchema column = new()
                {
                    Id = _tableColumnSchema.Id,
                    Name = _tableColumnSchema.Name,
                    Title = _tableColumnSchema.Title,
                    IsPrimaryKey = _tableColumnSchema.IsPrimaryKey,
                    Filterable = _tableColumnSchema.Filterable,
                    Sortable = _tableColumnSchema.Sortable,
                    Order = _tableColumnSchema.Order
                };
            _columns.Add(column);
        }
        else
        {
            //无需赋值
            // var column = _columns.First(t => t.Id == _tableColumnSchema.Id);
            // column.Name = _tableColumnSchema.Name;
            // column.Title = _tableColumnSchema.Title;
            // column.IsPrimaryKey = _tableColumnSchema.IsPrimaryKey;
            // column.Filterable = _tableColumnSchema.Filterable;
            // column.Sortable = _tableColumnSchema.Sortable;
            // column.Order = _tableColumnSchema.Order;
        }
        return true;
    }
}
